{% extends 'core/base.html' %}

{% block title %}{% if object %}Editar{% else %}Novo{% endif %} Bunker{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">{% if object %}Editar{% else %}Novo{% endif %} Bunker</h1>
                
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="field">
                        <label class="label">{{ form.nome.label }}</label>
                        <div class="control">
                            {{ form.nome }}
                        </div>
                    </div>
                    
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                Salvar
                            </button>
                        </div>
                        <div class="control">
                            <a href="{% url 'bunker-list' %}" class="button is-light">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}