{% extends 'core/base.html' %}

{% block title %}{{ doenca.nome }}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title">{{ doenca.nome }}</h1>
            <div class="content">
                <p><strong>Tipo:</strong> {{ doenca.get_tipo_display }}</p>
                <p><strong>Parte afetada:</strong> {{ doenca.get_parte_afetada_display }}</p>
                <p><strong>Contagiosa:</strong> {% if doenca.contagiosa %}Sim - {{ doenca.forma_contagio }}{% else %}Não{% endif %}</p>
                
                <div class="content">
                    <h3>Sintomas</h3>
                    <p>{{ doenca.sintomas }}</p>
                </div>
                
                <h3 class="subtitle is-4 mt-4">Tratamento</h3>
                <div class="box">
                    {{ doenca.tratamento|linebreaks }}
                </div>
                
                <h3 class="subtitle is-4 mt-4">Reações Esperadas</h3>
                <div class="box">
                    {{ doenca.reacoes_esperadas|linebreaks }}
                </div>
                
                <h3 class="subtitle is-4 mt-4">Origem</h3>
                <p>{{ doenca.origem|linebreaks }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}